<nav class="navbar ">
  <div class="navbar-brand">

    <a class="navbar-item" [routerLink]="['/']">
      <h2>ATL Javscript Hasura Demo</h2>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active">
          Reference
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="http://hasura.io">
            Hasura Home
          </a>
          <a class="navbar-item " href="https://www.apollographql.com/docs/">
            Apollo docs
          </a>
          <a class="navbar-item " href="https://www.apollographql.com/docs/angular/">
            Apollo Angular docs
          </a>
          <a class="navbar-item " href="https://www.apollographql.com/docs/angular/basics/setup/">
            Apollo Angular Setup
          </a>

        </div>
      </div>
    </div>

    <div class="navbar-end">
    </div>
  </div>
</nav>

<div class="columns is-fullheight">
  <div class="column is-2 is-sidebar-menu is-hidden-mobile">
    <aside class="menu">
      <p class="menu-label">
        Chat
      </p>
      <ul class="menu-list">
        <!--<li><a>Rooms</a></li>-->
        <!--<li><a>Profile</a></li>-->
        <li><a routerLink="/chat">Queries</a> </li>
        <li><a routerLink="/chat">Queries with parameters</a> </li>
        <li></li>
        <li>mutations</li>
        <li>storing the apolly query object</li>
        <li>subscriptions</li>
      </ul>
    </aside>
  </div>
  <div class="column is-main-content">



    <router-outlet></router-outlet>

  </div>
</div>
